{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "[typescript]": {
    "editor.formatOnPaste": true,
    "editor.formatOnSave": true
  },
  "editor.formatOnPaste": true,
  "editor.formatOnSave": true,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "es5",
  "[html]": {
    "editor.defaultFormatter": "vscode.html-language-features"
  }
}
