.under-construction-img {
  padding-top: 130px;
}

.construction-message {
  font-size: 2rem;
  background-color: #FFBB00;
  width: 30%;
  margin: 12px auto;
}

@media screen and (max-width: 980px) {
  .under-construction-img {
    padding-top: 200px;
  }
}