.about-content {
  margin-top: 30px;
  color: #43C19F;
  font-size: 1.3rem;
}

.resume-link {
  color: #43C19F;
  font-weight: bold;
}

.resume-link:hover {
  color: #43C19F;
}

.lets-connect {
  background-color: #23585E;
  padding: 1rem;
  font-size: 1.3rem;
}

.connect-form {
  width: 100%;
}

.connect-input {
  width: 100%;
  color: #43C19F;
  border: none;
}

.connect-input::placeholder {
  color: #43C19F;
}

.message {
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
  color: #43C19F;
  border: none;
}

.file-about-icon {
  margin-right: 20px;
}

.margin-reset {
  margin-bottom: 0;
}

.left-justification {
  text-align: start;
  padding-left: 1rem;
}

.center {
  margin: 0 auto;
}

.linkedin-about-icon {
  float: center;
  color: #43C19F;
}

.connect-btn {
  float: center;
  color: #43C19F;
}

.connect-btn:hover {
  color: #43C19F;
}


.headshot {
  height: 300px;
  width: 250px;
}

@media screen and (max-width: 991px) {
  .about-content {
    font-size: 3rem;
  }

  .headshot {
    height: 100%;
    width: 100%;
  }

  .lets-connect {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .headshot {
    height: 60%;
    width: 100%;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1210px) {
  .headshot {
    height: 65%;
    width: 90%;
  }
}

@media only screen and (min-width: 1211px) and (max-width: 1327px) {
  .headshot {
    height: 75%;
    width: 90%;
  }
}

@media only screen and (min-width: 1328px) and (max-width: 1450px) {
  .headshot {
    height: 75%;
    width: 80%;
  }
}

@media only screen and (min-width: 1451px) and (max-width: 1749px) {
  .headshot {
    height: 85%;
    width: 80%;
  }
}

@media only screen and (min-width: 1750px) {
  .headshot {
    height: 85%;
    width: 60%;
  }
}