.about-content {
  margin-top: 30px;
  color: #43C19F;
  font-size: 1.3rem;
}

.resume-link {
  color: #43C19F;
}

.resume-link:hover {
  color: #43C19F;
}

.lets-connect {
  background-color: #23585E;
  padding: 1rem;
  font-size: 1.3rem;
}

.connect-form {
  width: 100%;
}

.connect-input {
  width: 100%;
  color: #43C19F;
  background-color: #23585E;
  border: none;
}

.connect-input::placeholder {
  color: #43C19F;
}

.message {
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
  color: #43C19F;
  background-color: #23585E;
  border: none;
}

.margin-reset {
  margin-bottom: 0;
}

.left-justification {
  text-align: start;
}

.connect-btn {
  width: 100%;
  color: #43C19F;
}

.connect-btn:hover {
  color: #43C19F;
}

.headshot {
  height: 300px;
  width: 250px;
}

@media screen and (max-width: 980px) {
  .about-content {
    font-size: 3rem;
  }

  .headshot {
    height: 90%;
    width: 100%;
  }

  .lets-connect {
    font-size: 3rem;
  }
}